
header {
  background: black;

}

body {
  background-position-x: -3em;
  text-align: center;
  width: 97%;
  margin: 0 auto;
  padding-top: .4em;
  
  }

.container1 {
background-size: 100%;

}

  h3, h4, h1 {
color: rgb(81, 160, 194);
  }
button {
  background-color: #f04c2f;
  color: white;
  border: none;
  padding: 0.3em;
}

 {
  border-radius:px;
  }

h2{
  color: white;
  }

.container3{
  background-color: #e22d0e;
  text-align: left;
  padding: 0.4em 1em;
  margin-top: 1.5em;
  text-align: center;
  color: white;
}

.container4 {

}
.foto1, .foto2, .foto3{
  border: 1px solid grey;
  ''   } 



.footer{
  text-align: center;
  background-color: #25a2c3;
  text-align: center;
  color: white;


